# Node.js / Vite / Vue
node_modules/
dist/
*.log
*.env
frontend/frontend/dist/
frontend/frontend/node_modules/

# Python
__pycache__/
*.pyc
db.sqlite3
*.sqlite3
.env

# VS Code / IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store